body{
    background-color: lightgray;
}
.nav-body-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(assets/images/bg-1.jpg);
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 100vh;
    margin: -8px !important;
    position: relative; /* Added for positioning the pseudo-element */
}

.nav-body-div img {
    width: 230px;
    height: 270px;
    border-radius: 5px;
    margin-top: 20%;
    margin-bottom: 10%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Add white box shadow */
}


.nav-body-list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Change to vertical alignment by default */
    align-items: center;
    justify-content: center;
}

.nav-body-list li {
    margin-bottom: 20px;
}

.nav-body-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Playfair Display', serif; 
    font-size: 20px;
    transition: all ease-in-out 0.4s;
}

.nav-body-list a.active,
.nav-body-list a:hover {
    color: maroon;
}

@media only screen and (max-width: 768px) {
    .nav-body-div {
        width: 100vw;
        height: auto;
        position: fixed;
    }

    .nav-body-div img {
        width: 130px;
        height: 170px;
        margin: 3%;
    }

    .nav-body-list ul {
        flex-direction: row; /* Change to horizontal alignment on smaller screens */
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }

    .nav-body-list li {
        margin-right: 10px; /* Add margin between list items */
        margin-bottom: 0; /* Remove the bottom margin */
    }

    .nav-body-list a {
        font-size: 14px;
        /* margin-right: 10%; */
        /* padding-left: 10%; */
    }
}


