* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(231, 231, 231);
}

#intro-page {
    background-image: linear-gradient(to bottom, rgba(240, 240, 240, 0.2), rgba(240, 240, 240, 0.8)), url('assets/images/bg-1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.nav {
    font-family: "Bitter", serif;
    width: 100vw;
    position: fixed;
    z-index: 2;
    /* font-size: 1.2rem; */
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 20px 60px;
}

.nav-bar h2 {
    font-size: 2.2rem;
    font-weight: 800;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: center;
    transition: 0.5s ease-in-out;
    position: relative;
    text-transform: lowercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover {
    color: rgb(173, 0, 0);
}

.menu li a:hover:after {
    width: 100%;
}
.menu li a.active {
    color: rgb(173, 0, 0);
}


.open-menu,
.close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

.nav-content {
    width: 50vw;
    margin: auto;
    position: absolute;
    /* margin-left: 20px; */
    top: 50%;
    left: 29%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.nav-content h3 {
    padding-bottom: 4%;
    padding-top: 3%;
    font-weight:350;
    font-size: 1.2rem;
}

@keyframes text-appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#text-animation {
    animation: text-appear 0.5s ease-in-out;
}

.styled-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: rgb(173, 0, 0);
    color: #ffffff;
    border: none;
    border-radius: 25px;
    transition: background-color 0.5s ease-in-out;
}

.nav-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.styled-button:hover {
    background-color: rgb(119, 119, 119);
}

.styled-button a {
    color: white;
    text-decoration: none;
}
.img-slide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 23%;
    right: 2%;
  }
  #carouselExampleIndicators {
    margin-left: 20px;
    margin-right: 10px;
    width: 40vw;
    max-width: 490px;
    height: auto;
    border-radius: 8px;
    border: 2px solid black;
  }
  .nav-content h2{
    margin-top: 12px; 
    letter-spacing: 1.5; 
    color: rgb(173, 0, 0);
}
  
  

@media(max-width: 920px) {
    .menu {
        flex-direction: column;
        /* position: absolute; */
        /* align-items: left; */
        justify-content: center;
        width: 30%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        min-width: 170px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
        transition: all 0.2s ease-in-out;
    }

    .styled-button {
        margin-top: 30px;
        padding: 10px 20px;
        font-size: 14px;
    }

    .nav-content h1 {
        font-size: 2rem;
    }  
    

    .nav-bar {
        padding: 15px 15px;
    }

    .menu li {
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 35px;
        /* color: white */
        /* text-transform: uppercase; */
    }

    .menu li a {
        /* padding: 10px; */
        text-transform: capitalize;
        text-align: left;
        color: white;
    }

    .close-menu i {
        color: white;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .nav-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .nav-content h2{
        font-size: 1.5rem;
    }

    .nav-content h3 {
        display: none;
    }
    .img-slide{
        display: none;
    }
}